.home {
  max-width: 600px;
}

.home .page-title {
  margin-bottom: 20px;
}

.activity {
  margin: 40px 0;
}

.activity h3 {
  margin-bottom: 20px;
}

.activity li a {
  margin-top: 10px;
  padding: 16px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.activity img {
  width: 20px;
  background: transparent;
  filter: invert(50%);
}

.activity li a:hover img {
  filter: invert(30%);
}
