.catalogue {
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}

.catalogue h2 {
  margin-bottom: 20px;
  font-family: Merriweather;
  font-style: italic;
}

.catalogue .archived::after {
  content: "(zarchiwizowany)";
  padding-left: 20px;
  font-weight: normal;
  color: var(--bg-color);
  filter: invert(20%);
}

.catalogue .info {
  font-style: italic;
}

.catalogue li {
  margin-top: 1em;
  line-height: 1.5em;
}

.catalogue a {
  text-decoration: none;
}

.catalogue .disposed {
  text-decoration: line-through;
}
