.filter {
  margin: auto;
}

.filter nav {
  padding: 10px 14px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}

.filter nav::after {
  content: "";
  flex: auto;
}

.filter p {
  margin-right: 6px;
  font-size: 0.9em;
}

.filter button {
  margin: 0;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: 0.9em;
  color: var(--text-color);
  cursor: pointer;
}

.filter button.active {
  background-color: var(--highlight-color);
  border-radius: 3px;
  color: #fff;
}
