.navbar {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid rgba(23, 37, 90, 0.4);
  font-weight: bold;
  color: var(--heading-color);
  display: flex;
  align-items: center;
}

.navbar .logo span {
  font-family: Merriweather;
}

.navbar .logo img {
  width: 28px;
  margin-right: 10px;
  margin-top: -2px;
}

.navbar .user-nav {
  display: flex;
  align-items: baseline;
}

.navbar .user-nav li:last-of-type {
  margin-left: 30px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--highlight-color);
}
