.sidebar {
  width: 300px;
  min-width: 300px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar .user {
  text-align: center;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .user .username {
  font-weight: bold;
}

.sidebar .links {
  margin-top: 40px;
  padding: 0 0 40px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .links li {
  margin-top: 10px;
}

.sidebar .links a {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}

.sidebar .links a.active {
  color: var(--heading-color);
  background: var(--bg-color);
  border-radius: 6px 0 0 6px;
}

.sidebar .links .active img {
  filter: invert(30%);
}

.sidebar .footnote {
  text-align: center;
  padding: 40px 30px;
  font-size: 0.8em;
}

.sidebar .footnote a {
  color: #ffffff;
}

.sidebar .footnote a:hover {
  color: var(--highlight-color);
}
