.book-notes label {
  margin-bottom: 0px;
}

.book-notes textarea {
  min-height: 80px;
}

.book-notes h4 {
  color: var(--heading-color);
}

.book-notes li {
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 4px;
  background: #ffffff;
  position: relative;
}

.book-notes li .delete {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 17px;
  right: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.book-notes li:hover .delete {
  display: block;
}

.book-notes img {
  width: 20px;
  filter: invert(50%);
}

.book-notes .btn {
  margin-top: 13px;
}

.note-date {
  color: var(--text-color);
  font-size: 0.9em;
  font-style: italic;
  margin: 4px 0 10px;
}

.note-content {
  color: var(--text-color);
  font-size: 0.9em;
  line-height: 1.6em;
  text-align: justify;
  margin: 0 0 4px;
}

.book-notes {
  max-height: 800px;
  overflow: auto;
  padding-right: 20px;
  /* firefox scrollbar style */
  scrollbar-width: 20px;
  scrollbar-color: #ffffff #e4e4e4;
}

/* Chrome, Edge, and Safari scrollbar styles */
.book-notes::-webkit-scrollbar {
  width: 6px;
}

.book-notes::-webkit-scrollbar-track {
  background: #fff;
}

.book-notes::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #e4e4e4;
}
