@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --bg-color: #eaeaea;
  --text-color: #121619;
  --primary-color: #18206f;
  --heading-color: #17255a;
  --highlight-color: #d88373;
  --error-bg-color: #f4e1e4;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background: var(--bg-color);
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--highlight-color);
}

.page-title {
  display: inline-block;
  font-size: 1.5em;
  color: var(--heading-color);
}

.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9em;
  border: 1px solid var(--primary-color);
}

.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

a.btn {
  display: inline-block;
  margin: 20px 0 0 0;
  font-size: 0.9em;
  text-decoration: none;
}

.btn:disabled {
  background-color: var(--bg-color);
  color: #999;
  border: 1px solid #999;
  pointer-events: none;
}

.btn.danger {
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
}

.btn.danger:hover {
  background-color: var(--highlight-color);
  color: #fff;
}

.user-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #ffffff;
}

label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 8px 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
}

label > input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

input:required::after {
  content: "*";
}

textarea {
  min-height: 160px;
}

.error {
  margin: 10px 0;
  padding: 8px;
  background: var(--error-bg-color);
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  line-height: 1.6em;
  text-align: justify;
  color: var(--highlight-color);
}

.error a {
  color: var(--highlight-color);
}

.error a:hover {
  text-decoration: none;
}

.info,
.loading {
  color: var(--text-color);
  font-size: 0.9em;
  font-style: italic;
}
